---
layout: default
title: misc documents

         {% for file in filelist %}
            {% if file.name contains '.pdf' and file.path contains 'misc' %}
<link rel="canonical" href="{{ site.baseurl }}{{ file.path }}" />
            {% endif %}
        {% endfor %} 


---

  

  <h1>XXX Misc documents</h1>

{% assign filelist = site.static_files | sort: 'path'  %}
<ul>
       {% for file in filelist %}
            {% if file.name contains '.pdf' and file.path contains 'misc' %}
<li><a href="{{ site.baseurl }}{{ file.path }}">{{ file.name }}</a></li>
            {% endif %}
        {% endfor %}
</ul>
 
