---

---
{% assign filelist = site.static_files | sort: 'path'  %}

<head>
         {% for file in filelist %}
            {% if file.name contains '.pdf' and file.path contains 'papers' %}
<link rel="canonical" href="{{ site.fullurl}}{{ file.path }}" />
            {% endif %}
        {% endfor %} 
</head>
<body>
<title>John Grundy's Papers</title>
<h1>John Grundy's Papers</h1>

<ul>
       {% for file in filelist %}
            {% if file.name contains '.pdf' and file.path contains 'papers' %}
<li><a href={{ site.fullurl }}{{ file.path }}">{{ file.name }}</a></li>
            {% endif %}
        {% endfor %}
</ul>
 
</body>
